html{
    background: rgb(92, 24, 180, 0.89);
animation: mymove 15s infinite;
}

@keyframes mymove {
from {background-color: rgb(155, 246, 255);}
to {background-color: rgb(189, 178, 255);}
}

html{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-size-adjust: 50in;
}

/* Style the list inside the menu */
nav {
text-align: center;
font-size: 25px;
background-color:rgb(255, 173, 173);
width: 1600px;
border: 20px solid rgb(255, 214, 165);
padding: 20px;
margin: 0 auto;
}


/* Style the navigation menu */
ol {
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
background: #ccc;
padding: 20px;
}

ol {
text-align: center;
font-size: 16px;
list-style-type: lower-roman;
list-style-position: inside;
background-color:rgb(255, 198, 255);
width: 1600px;
border: 20px solid rgb(253, 255, 182);
padding: 20px;
margin: 0 auto;
}

section {
-webkit-flex: 3;
-ms-flex: 3;
flex: 3;
text-align: center;
font-size: 35px;
color: rgb(0, 0, 0);
background-color:rgb(202, 255, 191) ;
padding: 40px;
border: 20px solid rgb(255, 173, 173);
margin: 20px auto;

}

footer {
text-align: center;
}